.wrapp {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 5%;
  // padding-left: 10%;  
  align-items: center;
  justify-content: center;
  // background: linear-gradient(to top, rgb(0, 13, 27), rgb(85, 85, 85));
}
