.arch-rectangle-btn {
  min-width: 90px;
  min-height: 25px;
  background: rgb(39, 39, 39);
  color: white;
  border: none;
  margin-inline-end: 5%;
  margin-inline-start: 5%;
  border-radius: 2px;

}

.arch-rectangle-btn:hover {
  background: black;
}
